{% extends "shop/base.html" %}
{% block title %} Корзина {% endblock title %}
{% block content %} 
<table class="cart">
    <thead>
        <tr>
            <th>Ткань</th>
            <th>Кант</th>
            <th>Высота</th>
            <th>Ширина</th>
            <th>Сторона цепочки</th>
        </tr>
    </thead>
    <tbody>
    {% for item in blinds %}
        <tr>
            <td>{{item.Textile.title}}</td>
            <td>{{item.Kant.title}}</td>
            <td>{{item.height}}</td>
            <td>{{item.width}}</td>
            <td>{{item.side_chain}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content%}